.container {
	max-width: 1170px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.row,
.row-between {
	display: flex;
	width: 100%;
	height: 100%;
}
.row-between {
	flex-wrap: wrap;
	justify-content: space-between;
}

/*Section Goods*/
.goods {
	margin-top: 100px;
}
.goods-items {
	/* Минимальную высоту указал из-за того что 	в блоке ничего нет, тебе ее указывать не нужно 	 */
	width: 270px;
	min-height: 200px;
	margin-bottom: 25px;
	border: 1px solid purple;
}
@media screen and (max-width: 1150px) {
	.goods-items {
		flex-basis: 30%
	}
}
@media screen and (max-width: 900px) {
	.goods-items {
		flex-basis: 42%;
		max-width: 370px;
	}
}
@media screen and (max-width: 600px) {
	/* Выравнивание по центру	 */
	.row-between {
		justify-content: center;
	}
	.goods-items {
		flex-basis: 100%;
	}
}

.item_pic_box{
	text-align: center;
	width:260px;
	height:320px;
}

.item_pic_box img{
	margin: 10px auto;
	width: 80%;
	height: auto;
}

a{
		text-decoration: none;
		color: white;
}

.bot_panel{
	width: 100%;
	height: 50px;
}

.author {
	background-color:purple;
	text-align: center;
	float: left;
	width: 49%;
}
.author:hover{
	background-color:#631d6e;
}

.price{
	color: purple;
	text-align: center;
	width: 49%;
	float: right;
}
