a{
	text-decoration: none;
}
body{
	padding: 0;
	margin:0;
}
*{
	font-family: sans-serif;
}

.log_box{
	text-align:center;
	width: 220px;
	height: 150px;
	margin:10% auto;
}

input{
	margin-top: 5px;
	border: 1px solid purple;
	text-align: center;
}

#button_submit{
	height: 24px;
	color:white;
	background: purple;
}

.sign_up_form{
	text-align: center;
	margin:10% auto;
}
h5{
	color: purple;
}